.order-item {
    display: grid;
    grid-template-columns: 40px 1fr 25px;
    grid-column-gap: 10px;
    align-items: flex-start;
    margin-right: unset !important;
}

.order-item picture {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.order-item img {
    height: 40px;
    width: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.order-item .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}

.order-item:not(:last-child) {
    margin-bottom: 10px;
}

.order-item .price {
    font-weight: 600;
}

.order-item .delete-from-cart {
    width: 20px;
    height: 20px;
    color: red;
    justify-self: end;
}
