*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #222;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  width: 1280px;
  max-width: 95%;
  margin: 50px auto;
}

header .presentation {
  background: url('./static/images/presentation.jpg');
}

.categories {
  margin-bottom: 16px;
}

