* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #222;
}

.wrap {
  width: 1280px;
  max-width: 95%;
  margin: 50px auto;
}

/*header .presentation {*/
/*  margin: 50px 0;*/
/*  background: url('./static/images/presentation.jpg');*/
/*  width: 100%;*/
/*  height: 500px;*/
/*}*/

